body{

    width: 100%;
    font-family: sans-serif;
}
#container{
    position: relative;
    margin: 0 auto;
}
#header{
    width: 800px;
    height: 250px;
    background-image: url("media/slika.glavna.jpg") ;
    background-attachment: fixed;
    background-position: center -100px;
    margin: 0 auto;
}
#header img{
    height: 120px;
    position: relative;
    background-color: rgba(255,255,255,0.5);
    top: 40px;
    left: 30px;
}
.navbar{
    border: 2px solid white;
    position: relative;
    top: 80px;
    left: 50px;
    background-color: rgba(255,255,255,0.5);
    width: 325px;
    text-align: center;
}
.navbar a{
    font-size: 24px;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: black;
}
.navbar a:hover{
    background-color: rgba(48,48,48,0.3);
}
.navbar a:active{
    background-color: rgba(255,104,77,0.3);
}
#content{
    width: 700px;
    height: auto;
    margin: 0 auto;
}
 #main{
     height: auto;
     padding-left: 10px;
     padding-right: 10px;
     text-align: center;
 }
 #main img{
     height:300px;
 }
#main p{
    text-align: justify;
}
#main #lokacija{
    height: auto;
}
 #footer{
     height: 30px;
     text-align: center;
     font-size: 12px;
 }
#rooms{
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 600px;
    table-layout: fixed;

}
#rooms img{
    position: relative;
    height: 140px;
    border: 1px solid black;
    border-radius: 10px;
}
#rooms td{
    border: 3px solid  #808080;
    border-radius: 12px;
    width: 250px;
    box-shadow: 0 0 10px #808080;
}
#rooms td:hover{
    background-color: rgba(48,48,48,0.3);
}
#contact img{
    height: 50px;
}
#contact{
    margin-left: 10px;
    text-align: left;
}
#contact td {

    padding: 5px;
}